body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

th{
    text-align: center;
}

.bg-primary {
  background-color: #eaeaea !important;
}

.container{
    max-width: 1500px;
}

.custom-select-sm{
    font-size: 95%;
}
